@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* Deafult reset used at any project */

* {
  box-sizing: border-box;
  font-family:
    "Outfit", sans-serif; /* Font family added here to be applied every where e.g. input fields */
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(216, 15%, 65%);
  --color-dark-blue: hsl(218, 44%, 22%);
}

body {
  background: var(--color-light-gray);
  display: flex;
  /* flex-direction: column; since there is only one element in the page (main) this will have no effect */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  margin-inline: 15px;
}

main > section.card {
  background: var(--color-white);
  border-radius: 1.25rem;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 350px;
  width: 100%;
  gap: 1.5rem;
  margin-bottom: 10px;
}

.card > .image .qr-code {
  width: 100%;
  border-radius: 0.625rem;
}

.card > .content {
  padding-inline: 1rem; /* This will give the same effect as (padding: 0 1rem 0 1rem;) */
  /* Padding inline means left, right */
  /* Padding block means top, bottom */
}

.card > .content .title {
  color: var(--color-dark-blue);
  font-weight: 700;
  text-align: center;
  font-size: 1.375rem;
  line-height: 120%;
  margin-bottom: 10px;
}

.card > .content .description {
  color: var(--color-grayish-blue);
  font-size: 0.9375rem;
  letter-spacing: 0.013rem;
  text-align: center;
  font-weight: 400;
  line-height: 140%;
}

/* Write your code sequentially so we move footer to the end */

footer.attribution {
  font-size: 11px;
  text-align: center;
}

footer.attribution a {
  color: hsl(228, 45%, 44%);
}
